a {
  text-decoration: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: -webkit-radial-gradient(
      closest-corner,
      rgba(16, 47, 70, 0) 60%,
      rgba(16, 47, 70, 0.26)
    ),
    -webkit-linear-gradient(108deg, rgba(51, 134, 255, 0.9), rgba(
            0,
            31,
            76,
            0.9
          )
          90%);
}
.container {
  width: 100%;
  max-width: 1325px;
  text-align: left;
  position: relative;
}
.logo {
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
}
.credits {
  font-family: "Francois One", sans-serif;
  color: #ffffff;
  padding: 0 0 0 10px;
}
.icon > .text {
  font-size: 20px;
}
.credits,
.credits > .text {
  font-size: 12px;
}
.icon > .text,
.credits > .text {
  font-family: "Francois One", sans-serif;
  color: #ffffff;
  padding: 0 0 0 10px;
  opacity: 0.8;
}
.icon > .text:hover,
.credits > .text:hover {
  opacity: 1;
}
/* Top Link */
.toplink {
  top: 25px;
  width: 100%;
  text-align: center;
  margin-top: 22px;
  margin-bottom: -40pxs;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-link, .btn-link:focus {
  color: rgba(255,255,255,0.8);
  background: none;
  border: none;
  box-shadow: none;
}

/* Share */
.share {
  position: absolute;
  top: 30px;
  right: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  border-radius: 3px;
  text-decoration: none;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.share > a.btn {
  padding: 10px 10px 9px 10px;
  font-size: 9px;
  border: none;
  box-shadow: none;
  background-color: #C93AEE;
  color: #ffffff;
}

/* Title */
.title {
  padding-top: 100px;
  text-align: center;
}

.title > .name {
  font-weight: 300;
  font-size: 34px;
  margin: 3px;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.title > .description{
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}